<a id="logo" href="/">
  <img alt="Stempel logo" src="assets/images/logo.png">
</a>
<section id="main">
  <app-seal-gen></app-seal-gen>
</section>
<section id="footer">
  <p i18n><a href="https://github.com/paceline/stempel">Stempel</a> is provided as free service and without any warranty. Please note that we save all seals you create together with your ip address for a limited time.</p>
  <p i18n>See the <a href="https://github.com/paceline/stempel">GitHub page</a> for license and well the code.</p>
</section>
